body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
} */

.nunito {
  font-family: "Nunito Sans", sans-serif;
}

.halant {
  font-family: "Halant", serif;
}

.hero-bg {
  background-image: linear-gradient(rgba(0, 0, 0, 0.664), rgba(0, 0, 0, 0.664)),
    url("../public/img/dota.jpg");
  /* height: 70vh; */
}
